@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ajustes globales */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Estructura Principal */
body {
  margin: 0;
  display: flex;
  min-height: 100vh; /* Para que el contenido ocupe toda la altura */
  overflow-x: hidden; /* Evita scroll horizontal */
}



/* Espaciado para evitar solapamiento del contenido */
.contenido {
  flex-grow: 1;
  padding: 20px;
  margin-left: 80px; /* Asegura que el contenido no se solape con la barra */
  width: calc(100% - 80px);
}




/* Mensaje de usuario en la parte inferior */
.navegacion__mensaje {
  font-size: 12px;
  color: white;
  text-align: center;
  margin-bottom: 10px;
}

/* Tarjetas de contenido */
.card {
  padding: 2em;
}

/* Animaciones y efectos */
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
